@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
$primary: #313131;
$secondary: #fde21c;
$tertiary: #506df5;
$darkblue: #012f5b;
$lightgray: #d3d3d3;
$white: #fff;
$black: #000000;
$orange: #fd830f;
$text: #585858;
$fontSize: 16px;
$fontFamily: 'Montserrat',
sans-serif;
$transition: .4s ease;
$padding: 4rem 0;

/*****mixins*****/

@mixin flex ($justify,
$align,
$direction,
$wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin btn($bg,
$borders,
$color,
$txtTransform) {
    padding: 15px 30px;
    background: $bg;
    border: $borders;
    color: $color;
    text-transform: $txtTransform;
    font-size: 1rem;
    border-radius: 3px;
    &:hover {
        cursor: pointer;
        background: $white;
        border: 2px solid $white;
        color: $primary;
        transition: $transition;
    }
}

@mixin img($height) {
    height: $height;
    background-position: center;
    background-size: cover;
}


/****basic styles*****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $fontSize;
    font-family: $fontFamily;
    color: $black;
    background: #f7f7f7;
}

.container {
    max-width: 1140px;
    margin: auto;
}


/****nav*****/

nav {
    background: $primary;
    color: $white;
    padding: 10px 30px;
    @include flex(space-between,
    center,
    row,
    wrap);
    @media (max-width: 768px) {
        padding: 10px 15px 10px 0;
    }
    div:nth-child(1) {
        flex: 1;
        img {
            width: 80px;
            @media (max-width: 768px) {
                width: 60px;
            }
        }
        @include flex(flex-start,
        center,
        row,
        wrap);
        @media (max-width: 768px) {
            @include flex(center,
            center,
            column,
            wrap);
        }
        a {
            color: $white;
            text-decoration: none;
            font-weight: 600;
            margin-left: 20px;
            font-size: 1.3rem;
            @media (max-width: 768px) {
                font-size: 1rem;
                margin-left: 0;
                font-weight: 500;
            }
            &:hover {
                color: $lightgray;
            }
        }
    }
    div:nth-child(2) {
        flex: 1;
        @include flex(space-around,
        center,
        row,
        wrap);
        p {
            font-size: .8rem;
            font-weight: 600;
            text-align: center;
            @media (max-width: 768px) {
                font-weight: 400;
                font-size: 0.7rem;
            }
        }
    }
    div:nth-child(3) {
        flex: 1;
        @include flex(flex-end,
        center,
        row,
        wrap);
        button {
            @include btn(transparent,
            2px solid $white,
            $white,
            none);
            @media (max-width: 768px) {
                font-size: .8rem;
                padding: 10px 20px;
            }
        }
    }
}


/***mainHeader*****/

.mainHeader {
    background-image: linear-gradient(rgba($black, .6), rgba($black, .6)), url(../img/header.jpg);
    @include flex(center,
    center,
    column,
    wrap);
    @include img(80vh);
    @media (max-width: 768px) {
        @include img(70vh);
    }
    color: $white;
    h1 {
        font-size: 3rem;
        @media (max-width: 768px) {
            font-size: 2.5rem;
        }
    }
    p {
        text-align: center;
        padding: 30px 0;
        @media (max-width: 768px) {
            padding: 15px;
        }
    }
    div {
        @include flex(center,
        center,
        row,
        wrap);
        button:nth-child(1) {
            @include btn($tertiary,
            2px solid $tertiary,
            $white,
            none);
            margin-right: 10px;
            @media (max-width: 768px) {
                font-size: .8rem;
                padding: 10px 20px;
                margin-right: 5px;
            }
            &:hover {
                background: transparent;
                color: $tertiary;
                border: 2px solid $tertiary;
            }
        }
        button:nth-child(2) {
            @include btn(transparent,
            2px solid $white,
            $white,
            none);
            margin-left: 10px;
            @media (max-width: 768px) {
                font-size: .8rem;
                padding: 10px 20px;
                margin-left: 5px;
            }
        }
    }
}


/***pricing***/

.pricing {
    padding: $padding;
    @include flex(center,
    stretch,
    row,
    wrap);
    @media (max-width: 768px) {
        @include flex(center, stretch, column, wrap);
        padding: 2rem;
    }
    article {
        flex: 1;
        text-align: center;
        border: 1px solid $lightgray;
        padding: 2rem;
        &:hover {
            transform: scale(1.1);
            transition-duration: .3s;
            background: $white;
        }
        h2 {
            font-size: 2.4rem;
            font-weight: 300;
            margin-bottom: 1rem;
            line-height: 1.2;
        }
        span:nth-child(2) {
            color: $darkblue;
            font-size: 2.4rem;
            @media (max-width: 768px) {
                font-size: 1.7rem;
            }
        }
        span:nth-child(3) {
            color: $darkblue;
            font-size: 5rem;
            font-weight: 300;
            @media (max-width: 768px) {
                font-size: 3.5rem;
            }
        }
        span:nth-child(4) {
            color: $text;
            font-size: 1.2rem;
        }
        p {
            color: $text;
            padding: 10px 0;
            font-size: 0.8rem;
            font-weight: 400;
            margin-bottom: 15px;
            line-height: 1.5;
        }
        button {
            @include btn(transparent,
            2px solid $tertiary,
            $tertiary,
            none);
            margin: .4rem .5rem;
            &:hover {
                background: $tertiary;
                color: $white;
                border: 2px solid $tertiary;
            }
        }
    }
}


/****advantages***/

.advantages {
    background-image: linear-gradient(rgba($black, .5), rgba($black, .5)), url(../img/bg3.jpg);
    @include img(85vh);
    padding: $padding;
    @media (max-width: 768px) {
        @include img(auto);
    }
    h2 {
        font-size: 5rem;
        font-weight: 600;
        text-align: center;
        color: $white;
        @media (max-width: 768px) {
            font-size: 2.5rem;
        }
    }
    hr {
        background: $secondary;
        width: 150px;
        height: 4px;
        border: none;
        margin: 0 auto 50px auto;
    }
    .container {
        @include flex(space-between,
        center,
        row,
        wrap);
        @media (max-width: 768px) {
            @include flex(center, center, row, wrap);
        }
        article {
            flex: 0 0 31%;
            @media (max-width: 768px) {
                flex: 0 0 85%;
                margin-bottom: 30px;
            }
            background: $white;
            border-radius: 10px;
            border: 1px solid $lightgray;
            img {
                width: 100%;
                border-radius: 10px 10px 0 0;
            }
            .text {
                padding: 30px;
                h3 {
                    font-weight: 500;
                    font-size: 1.4rem;
                }
                p {
                    color: $text;
                    padding: 20px 0;
                    font-size: .8rem;
                }
                button {
                    @include btn(transparent,
                    2px solid $tertiary,
                    $tertiary,
                    transparent);
                    &:hover {
                        background: $tertiary;
                        color: $white;
                        border: 2px solid $tertiary;
                    }
                }
            }
        }
    }
}


/***team***/

.team {
    padding: $padding;
    h2 {
        font-size: 5.2rem;
        font-weight: 300;
        text-align: center;
        margin-bottom: 40px;
        @media (max-width: 768px) {
            font-size: 3.2rem;
        }
    }
    .container {
        @include flex(space-between,
        center,
        row,
        wrap);
        @media (max-width: 768px) {
            @include flex(space-between, center, column, wrap);
            padding: 0 20px;
        }
        article {
            flex: 0 0 48%;
            @include flex(space-between,
            stretch,
            row,
            wrap);
            @media (max-width: 768px) {
                @include flex(space-between, center, column, wrap);
            }
            margin-bottom: 50px;
            box-shadow: 0 0 30px $lightgray;
            &:hover {
                box-shadow: 0 0 40px darken($lightgray, 10);
            }
            div:first-child {
                flex: 0 0 50%;
                background: $white;
                padding: 30px;
                h4 {
                    font-size: 1.3rem;
                    font-weight: 500;
                    margin-bottom: 5px;
                }
                h5 {
                    font-weight: 300;
                    font-size: 1.1rem;
                    ;
                }
                p {
                    font-size: .8rem;
                    padding: 15px 0;
                }
                i {
                    color: $orange;
                    font-size: 1.3rem;
                }
            }
            div:last-child {
                flex: 0 0 50%;
                img {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}


/***services***/

.services {
    background-image: linear-gradient(rgba($black, .7), rgba($black, .7)), url(../img/bg2.jpg);
    @include img(auto);
    background-size: revert;
    padding: 100px 0;
    color: $white;
    .container {
        @include flex(space-between,
        center,
        row,
        wrap);
        @media (max-width: 768px) {
            @include flex(space-between, center, column, wrap);
            padding: 20px;
        }
        article {
            flex: 0 0 49%;
            @media (max-width: 768px) {
                flex: 0 0 90%;
            }
        }
        article:first-child {
            border: 1px solid $lightgray;
            padding: 50px;
            text-align: center;
            h2 {
                margin-top: 30px;
                font-size: 2.5rem;
                font-weight: 400;
                @media (max-width: 768px) {
                    font-size: 2rem;
                }
            }
            p {
                padding: 30px;
            }
            i {
                font-size: 6rem;
                color: $secondary;
            }
            button {
                @include btn(transparent,
                2px solid $white,
                $white,
                none);
            }
        }
        article:last-child {
            @include flex(space-between,
            center,
            column,
            wrap);
            div {
                padding: 50px;
                @media (max-width: 768px) {
                    padding: 30px 0;
                    h3 {
                        margin-bottom: 20px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}


/***work***/

.work {
    @include flex(space-between,
    center,
    row,
    wrap);
    padding: $padding;
    @media (max-width: 768px) {
        @include flex(space-between, flex-start, column, wrap);
        padding: 30px;
    }
    article {
        flex: 0 0 32%;
        line-height: 1.6;
        font-size: .8;
        font-weight: 400;
        @media (max-width: 768px) {
            line-height: 1.2;
            margin-bottom: 30px;
        }
    }
    article:first-child {
        align-self: center;
        @media (max-width: 768px) {
            font-size: 1.5rem;
            align-self: start;
        }
        h2 {
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 50px;
            @media (max-width: 768px) {
                font-size: 1.8rem;
                padding: 0 15px;
                margin-top: 30px;
            }
        }
    }
}


/***cta***/

.cta {
    padding: $padding;
    @include flex(center,
    center,
    row,
    wrap);
    background: $primary;
    button:nth-child(1) {
        @include btn($secondary,
        2px solid $secondary,
        $primary,
        uppercase);
        &:hover {
            background: transparent;
            color: $secondary;
            border: 2px solid $secondary;
        }
    }
    button:nth-child(2) {
        @include btn(transparent,
        2px solid $white,
        $white,
        uppercase);
        margin: 0 10px;
    }
    button:nth-child(3) {
        @include btn($tertiary,
        2px solid $tertiary,
        $white,
        uppercase);
        @media (max-width: 768px) {
            margin-top: 10px;
        }
        &:hover {
            background: transparent;
            color: $tertiary;
            border: 2px solid $tertiary;
        }
    }
}


/***footer***/

footer {
    padding: $padding;
    @include flex(flex-start,
    flex-start,
    row,
    wrap);
    @media (max-width: 768px) {
        @include flex(center, flex-start, column, wrap);
        padding: 15px;
    }
    article {
        flex: 1;
        line-height: 1.7;
        form {
            @include flex(center,
            stretch,
            column,
            wrap);
            padding-right: 30px;
            @media (max-width: 768px) {
                @include flex(flex-start, flex-start, unset, wrap);
                padding: 15px;
            }
            input {
                padding: 20px;
                margin-bottom: 30px;
                border: 1px dotted $primary;
                background: #f7f7f7;
                @media (max-width: 768px) {
                    width: 100%;
                }
            }
            textarea {
                padding: 20px;
                margin-bottom: 30px;
                border: 1px dotted $primary;
                background: #f7f7f7;
                @media (max-width: 768px) {
                    width: 100%;
                }
            }
            button {
                @include btn($secondary,
                2px solid $secondary,
                $primary,
                none);
                width: 50%;
                margin: auto;
                display: block;
                @media (max-width: 768px) {
                    width: 40%;
                }
                &:hover {
                    background: transparent;
                    color: $primary;
                    border: 2px solid $secondary;
                    transition: $transition;
                }
            }
        }
        img {
            width: 30%;
            @media (max-width: 768px) {
                width: 20%;
            }
        }
        ul {
            li {
                list-style: none;
                margin-bottom: 10px;
            }
            li::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f0c8";
                font-size: .6rem;
                color: $darkblue;
                margin-right: 20px;
            }
        }
        h4 {
            margin-bottom: 20px;
            font-weight: 500;
            font-size: 1.1rem;
        }
        .adress {
            margin-top: 20px;
        }
    }
    article:last-child {
        p {
            margin-bottom: 10px;
        }
        p:nth-child(2) {
            font-size: .8rem;
        }
        i {
            color: $darkblue;
            margin-right: 10px;
        }
        @media (max-width: 768px) {
            margin-top: 30px;
        }
    }
}


/***bottomBar***/

.bottomBar {
    padding: 50px 0;
    background: $primary;
    text-align: center;
    color: $white;
    font-size: 1.3rem;
}